<div class="Details" *ngIf="dogfoods$">
  <h2>Details of {{dogfoods$.title}}</h2>
    <div class='sections-Det'>
      <section class='first-section-Det'>
        <img alt="pic" src={{dogfoods$.imageUrl}} />
      </section>
      <section class='second-section-Det'>
        <h1>Brand: {{dogfoods$.brand}}</h1>
        <ul >
          <li><span>Description:</span> {{dogfoods$.description}}</li>
          <li><span>Food Type:</span> {{dogfoods$.foodType}}</li>
          <li><span>Life Stage:</span> {{dogfoods$.dogAge}}</li>
          <li><span>Size:</span> {{dogfoods$.size}} kg</li>
          <li><span>Price:</span> {{dogfoods$.price}} lv</li>
        </ul>
      </section>
    </div>
    <div>
      <section class="butons">
          <div *ngIf='isLoggedIn'>
              <a class="btn" type='button' [routerLink]="['/dogFood/purchase/',dogfoods$._id]">Buy</a>
              <div *ngIf="isAdmin">
                  <a class="btn" type='button' [routerLink]="['/dogFood/edit/',dogfoods$._id]">Edit</a>
                  <a class="btn" type='button' (click)='deleteFood(dogfoods$._id)'>Delete</a>
                </div>
            </div>
            
      </section>
    </div>
  </div>
