<div class="Buy" *ngIf="dogfoods$">
  <h2>To buy {{dogfoods$.title}}</h2>
  <div class='section'>
    <section class='first-section'>
      <img alt="pic" src={{dogfoods$.imageUrl}} />
    </section>
    <section class='second-section'>
      <h1>Brand: {{dogfoods$.brand}}</h1>
      <ul>
        <li><span>Description:</span> {{dogfoods$.description}}</li>
        <li><span>Food Type:</span> {{dogfoods$.foodType}}</li>
        <li><span>Life Stage:</span> {{dogfoods$.dogAge}}</li>
        <li><span>Size:</span> {{dogfoods$.size}} kg</li>
        <li><span>Price:</span> {{dogfoods$.price}} lv</li>
      </ul>
    </section>
  </div>
  <div>
    <ul>
      <form [formGroup]='form' (submit)='purchase()'>
        <input type="number" formControlName="quantity" id="quantity" step="1" placeholder="Quantity" />
        <div class="alert alert-danger"
          *ngIf='form?.controls.quantity?.touched && form?.controls.quantity?.errors?.required'>
          Quantity is required!
        </div>
        <div class="alert alert-danger" *ngIf='form?.controls.quantity?.errors?.min'>
          Quantity must be equal to or greater than 1!
        </div>
        <input class="btn" type="submit" value="Add to Order" [disabled]='form.invalid' />
      </form>
    </ul>
  </div>
</div>