<div>
  <section class='home-first'>
    <h2>Best food for your best friend!</h2>
  </section>
  <section class="Home">
    <h1>What we offer</h1>
    <div class="all-products">
      <ul class="products" *ngIf='dogfoods$'>
        <li class="product" *ngFor='let food of dogfoods$'>
          <section>
            <h5>{{food.title}}</h5>
            <img alt="pic" src={{food.imageUrl}} />
          </section>
          <div class="butons">
            <div>
              <a class="btn" type='button' [routerLink]="['/dogFood/details/',food._id]">Details</a>
            </div>
            <div *ngIf='isLoggedIn'>
              <a class="btn" type='button' [routerLink]="['/dogFood/purchase/',food._id]">Buy</a>
              <div *ngIf="isAdmin">
                  <a class="btn" type='button' [routerLink]="['/dogFood/edit/',food._id]">Edit</a>
                </div>  
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>