<section class="Home">
    <h1>Ours offers</h1>
    <div class="all-products">
      <ul class="products" *ngIf='dogfoods$'>
        <li class="product" *ngFor='let food of dogfoods$'>
          <section>
            <h5>{{food.title}}</h5>
            <img alt="pic" src={{food.imageUrl}} />
          </section>
          <div class="butons">
            <div>
              <a class="btn" type='button' [routerLink]="['/dogFood/details/',food._id]">Details</a>
            </div>
            <div *ngIf="isAdmin">
              <a class="btn" type='button' [routerLink]="['/dogFood/edit/',food._id]">Edit</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>