<div class='About'>
  <h1>About us :</h1>
  <div class='p-text'>
    <p>For hundreds of years, the man has chosen different animals for his pets.
      Along with the evolution of the world and the improvement of human life,
      it is inevitable that the cultivation of our animal friends is inevitable.
      Is it because humans become more humane or because we need the unconditional
      a love that only the animal is capable of giving us, we increasingly care for
      our loved ones as equal members of our families. That is why we at DogFood believe
      we can help you and your pet. After numerous analyzes and studies, we were able to
      collect the best for pets - we selected everything they needed to grow - from granulated
      and canned food for every day, through delicious treats and puddings to a variety of
      accessories and cosmetics. The result is an online pet shop that strives to provide the
      best quality products in the shortest time and at extraordinarily good prices.
    </p>
    <p>Each DogFood team member has a pet and understands how important a home friend is to
      his family. With enthusiasm and heartfelt feelings we will help and advise you when choosing
      the products you are looking for, we will approach with professionalism in the preparation and
      execution of each application, create an online space of security, speed, loyalty and shopping
      competence.
    </p>
    <p>
      For us, it's important, besides a product store, to find in our face a friend who is available
      to you and is trying to help you grow your Pottoman. We will take care of offering you the best
      products for your favorite animal compared to the account you created.
    </p>
    <p>
      <span>Our Mission:</span> To help build a better culture in pet care and the obligations around them!
  </p>
    <p>
      With love and care,
      <br/>
      The DogFood team
  </p>
  </div>
</div>